<div id="about_me" class="about-me" #articles>
  <h3>Здравствуйте! Меня зовут Александр Ушкало.</h3><hr align="center">
  <div class="about-me__articles">
   <article><h4>ОБО МНЕ</h4><hr>
     <p>Мне 26 лет. Живу в г.Барановичи, Брестская область. <b>Готов на переезд</b>.<br></p>
     <ul>
        <li>Образование: высшее</li>
        <li>Специальность: инженер-программист</li>
        <li>ВУЗ: Барановичский Государственный Университет (2009-2014)</li>
        <li>Военная служба (2014-2015)</li>
     </ul>
     <p>Ответственен, исполнителен, усидчив, быстрая обучаемость, готов много работать. Характер не конфликтный. Постоянно совершенствую свои знания, слежу за последними изменениями в IT технологиях.</p>
     <p>Минимальный уровень заработной платы 800 рублей.</p>
     <p><b>Интересует только официальное трудоустройство.</b></p>
   </article>
   <article><h4>ПРОФЕССИОНАЛЬНАЯ ДЕЯТЕЛЬНОСТЬ</h4><hr>
     <p>
       С августа 2014 по июнь 2017 работа на должности инженер-программист в Барановичском зональном центре гигиены и эпидемиологии.
       Обслуживал локально-вычислительную сеть (ЛВС) предприятия на 100 рабочих мест. Обеспечивал бесперебойную работу офисной и компьютерной техники, программного обеспечения.
     </p>
     <p>
       В этот же период начал самостоятельно изучать и практически применять знания в области веб разработки (<b>Html, Css, Bootstrap, JavaScript, AJAX, Angular, Scss, Gulp, Git</b>) в качестве фрилансера, оказывая услуги по созданию и сопровождению сайтов физическим и юридическим лицам по договору подряда.
     </p>
     <p>
       C февраля 2018 по май 2018 работа на должности системного администратора оптово-логистического центра "С-видео". Основным направлением на данной ваканси было обслуживание, настройка и монтаж систем видеонаблюдения, обслуживание локально-вычислительных сетей и сопровождение персональных компьютеров.
     </p>
   </article>
   <article><h4>Я НА ФОТО</h4><hr><img src="../../../assets/images/my_photo.jpg" alt="my_photo"></article>
  </div>
</div>
