<div id="experience" class="experience">
  <div id="exp_item1" class="experience__item">
    <div class="experience__information">
     <h2>Выполняемые мною работы в Барановичском зональном центре гигиены и эпидемиологии</h2>
      <ul>
       <li>Установка, настройка серверов (Windows Server 2003, 2008, 2016) и сетевого оборудования.</li>
       <li>Мониторинг сетевого оборудования и сетевых служб, обновление ПО.</li>
       <li>Обеспечение работоспособности и безопасности сети (локальные и интернет).</li>
       <li>Обеспечение резервного копирования данных (восстановление данных при необходимости).</li>
       <li>Работы по обслуживанию и устранению ошибок в работе серверов баз данных предприятия, СУБД: MySQL, Oracle.</li>
       <li>Настройка роутеров и маршрутизаторов.</li>
       <li>Проектирование ЛВС (Подбор и закупка сетевого оборудования, необходимых кабелей и прочих аксессуаров для построения сети передачи данных.).</li>
       <li>Установка, настройка и обслуживание компьютерной и офисной оргтехники.</li>
       <li>Диагностика и устранение неполадок в работе оборудования.</li>
       <li>Установка, настройка и обновление офисного и прикладного ПО.</li>
       <li>Техническая поддержка и помощь пользователям (обучение работе с оборудованием и прикладными программами).</li>
       <li>Контроль наличия и закупка расходных материалов для офисной и компьютерной техники.</li>
      </ul>
    </div>
    <div class="experience__image"><h3>Инженер-программист</h3></div>
  </div>
  <div id="exp_item2" class="experience__item">
    <div class="experience__information">
      <h2>Выполняемые мною работы в качестве фриланс разработчика</h2>
      <ul>
        <li>Верстка информационных сайтов, интернет-магазинов, интернет-каталогов, landing-page по макетам и прототипам</li>
        <li>Интеграция вёрстки на CMS Wordpress и создание структуры сайта.</li>
        <li>Наполнение сайтов контентом.</li>
        <li>Сопровождение, внесение изменений и разработка дополнительных модулей на сайтах по требованию заказчика.</li>
        <li>Обучение и консультирование работников заказчика по работе с CMS.</li>
      </ul>
      <b>При разработке сайтов мною используются знания следующих технологий:</b>
      <ul>
        <li>Язык гипертекстовой разметки <b>HTML5</b> и каскадная таблица стилей <b>CSS3</b>.</li>
        <li>Нарезка макетов средствами <b>Adobe Photoshop</b>, разработка проектов кодовым редактором <b>Sublime Text 2 и phpStorm</b>, используя набор сниппетов <b>Emmet</b>.</li>
        <li>Семантическая, валидная, адаптивная и отзывчивая верстка сайтов, а также табличная верстка для почтовых рассылок.</li>
        <li>Работа со <b>спрайтами</b>, CSS-анимации, CSS-фреймворк <b>Bootstrap 3</b>, система контроля версий <b>Git</b> при работе с <b>Github</b>, препроцессор <b>SASS</b> и инструмент сборки веб-приложений <b>Gulp</b>, CSS методология <b>БЭМ</b>.</li>
        <li>Прототипно-ориентированный сценарный язык программирования <b>Javascript</b>, фреймворк для разработки single page application <b>Angular 4</b>, а также разработка модулей проектов при помощи технологии <b>Ajax</b> и библиотеки <b>jQuery</b>.</li>
      </ul>
    </div>
      <div class="experience__image"><h3>Фриланс разработчик</h3></div>
  </div>
</div>

